In [1]:
import pandas as pd
import sqlite3

# Step 1: Load the dataset
df = pd.read_csv('spacex_launch_data.csv')

# Step 2: Create in-memory SQLite database and write the table
conn = sqlite3.connect(':memory:')
df.to_sql('launches', conn, index=False, if_exists='replace')

# Step 3: Run SQL Queries

# 1. View all data
query1 = "SELECT * FROM launches;"
print(pd.read_sql(query1, conn))

# 2. Filter successful launches
query2 = "SELECT * FROM launches WHERE launch_success = 1;"
print(pd.read_sql(query2, conn))

# 3. Count launches per site
query3 = "SELECT launch_site, COUNT(*) AS total_launches FROM launches GROUP BY launch_site;"
print(pd.read_sql(query3, conn))

# 4. Calculate success rate per rocket
query4 = "SELECT rocket_name, AVG(launch_success) AS success_rate FROM launches GROUP BY rocket_name;"
print(pd.read_sql(query4, conn))

# 5. Launches per month (date formatted as YYYY-MM)
query5 = """
SELECT strftime('%Y-%m', launch_date) AS month, COUNT(*) AS launches
FROM launches
GROUP BY month;
"""
# Ensure launch_date is datetime
df['launch_date'] = pd.to_datetime(df['launch_date'])
df.to_sql('launches', conn, index=False, if_exists='replace')
print(pd.read_sql(query5, conn))

# Close connection
conn.close()

  mission_name launch_date      launch_site rocket_name  launch_success
0    FalconSat  2006-03-24  Kwajalein Atoll    Falcon 1               0
1      DemoSat  2007-03-21  Kwajalein Atoll    Falcon 1               0
2  Trailblazer  2008-08-03  Kwajalein Atoll    Falcon 1               0
3       RatSat  2008-09-28  Kwajalein Atoll    Falcon 1               1
4     RazakSat  2009-07-14  Kwajalein Atoll    Falcon 1               0
5       COTS 1  2010-06-04   Cape Canaveral    Falcon 9               1
6       COTS 2  2012-05-22   Cape Canaveral    Falcon 9               1
7        CRS-1  2012-10-08   Cape Canaveral    Falcon 9               1
8        CRS-2  2013-03-01   Cape Canaveral    Falcon 9               1
9        SES-8  2013-12-03   Cape Canaveral    Falcon 9               1
  mission_name launch_date      launch_site rocket_name  launch_success
0       RatSat  2008-09-28  Kwajalein Atoll    Falcon 1               1
1       COTS 1  2010-06-04   Cape Canaveral    Falcon 9               1
2       COTS 2  2012-05-22   Cape Canaveral    Falcon 9               1
3        CRS-1  2012-10-08   Cape Canaveral    Falcon 9               1
4        CRS-2  2013-03-01   Cape Canaveral    Falcon 9               1
5        SES-8  2013-12-03   Cape Canaveral    Falcon 9               1
       launch_site  total_launches
0   Cape Canaveral               5
1  Kwajalein Atoll               5
  rocket_name  success_rate
0    Falcon 1           0.2
1    Falcon 9           1.0
     month  launches
0  2006-03         1
1  2007-03         1
2  2008-08         1
3  2008-09         1
4  2009-07         1
5  2010-06         1
6  2012-05         1
7  2012-10         1
8  2013-03         1
9  2013-12         1